@charset "UTF-8";
html {
box-sizing: border-box;
}
body {
    background-color:rgba(159, 173, 238, 0.685);
    margin: 0 20%;
    font-family: sans-serif;
}
h1 {
  text-align: center;
  text-shadow: .05em .05em .1em rgb(255, 255, 255);
  color: #2e4c88;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 1500;
  text-transform: uppercase;
  margin-top: 30px;
}
h4 {
  color: #000000;
  font-size: 1.15em;
  text-align: right;
  text-transform: normal;
  margin-right: 15px;
}
p {
    text-align: right;
    font-family: 'Assistant', sans-serif;
    margin-right: 15px;
}
strong {
  color:#000000;
  font-size: 1em;
}
.hello {
  color: #000000;
  font-size: 1em;
  text-align: left;
  font-weight: normal;
  font-family: 'Assistant', sans-serif;
}
img {
  margin-top: 30px;
}
.images {
  float: left;
  padding: 30px;
}
.images2 {
  float: top;
  padding: 30px;
}
header {
  text-align: center;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #3757969a;
  opacity: 0.9;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
header ul li a {
  text-decoration: none;
  color: black;
  display: block;
  font-family: 'Assistant', sans-serif;
}
header ul li a:hover {
  background-color: #8f9ddf;
  color: black;
}
header ul li ul li {
  display: none;
  background-color: rgb(0, 0, 255);
}
header ul li:hover ul li {
  display: block;
}
.centered {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background-color:rgb(154, 165, 212);
}​
/* CSS Document */